<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="col-md-6 col-xs-6 col-sm-6">
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
      <mat-form-field>
        <input type="number" [(ngModel)]="equation">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
      <mat-form-field>
        <input type="number" [(ngModel)]="a">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
      <mat-form-field>
        <input type="number" [(ngModel)]="b">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
      <mat-form-field>
        <input type="number" [(ngModel)]="equation">
      </mat-form-field>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
      <mat-form-field>
        <input type="number" [(ngModel)]="c">
      </mat-form-field>
    </div>
  </div>
</div>
