<div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 col-xs-12 table-responsive" style="padding-top:10px;">
    <table class="table table-bordered table-striped cart">
        <thead class="thead-dark">
          <th>#</th>
          <th>Product</th>
          <th>Quantity</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems;let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.productId}}</td>
            <td>{{item.quantity}}</td>
            <td></td>
          </tr>
        </tbody>
    </table>
</div>

