<div class="col-md-12 col-sm-12 col-xs-12 padding0">
    <div class="col-md-12 col-sm-12 col-xs-12 padding0 header">
        <app-header></app-header>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 padding0">
        <router-outlet></router-outlet>
    </div>
    <div clas="col-md-12 col-sm-12 col-xs-12 padding0 footer">
        <app-footer></app-footer>
    </div>
</div>

<!-- <app-socket-chat></app-socket-chat> -->
<!-- <button (click)="getSampleNotification()">Get Sample Notification</button> -->
