<router-outlet></router-outlet>
<!--<input [(ngModel)]="roll">
<button (click)="setId()">SETID</button>
<div class="col-md-4 col-sm-4 col-xs-4">
    <app-custom-drop [list]="list" [id]="id" [placeholder]="placeholder" (selected)="onSelect($event)" [required]="true"></app-custom-drop>
</div>-->
<!--<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <mat-form-field>
              <input matInput [(ngModel)]="message">
            </mat-form-field>
        </div>
      
        <div class="col-md-6 col-xs-6 col-xs-12">
            <button class="btn btn-success" (click)="encrypt()" style="font-size:18px;width:100%;height:30px;font-weight: bold;">Encrypt</button>
        </div>
        <div class="col-md-6 col-xs-6 col-xs-12">
                    <button class="btn btn-success" (click)="decrypt()" style="font-size:18px;width:100%;height:30px;font-weight: bold;">Decrypt</button>
        </div>
    </div>
    
</div>-->

<!--<div>
    <div><p>{{disAccNo}}</p></div>
    <div><p>{{disSortCode}}</p></div>
</div>
<!--<mat-form-field>
    <input matInput placeholder="Search">
</mat-form-field>-->