.padding0{
    padding:0px;
}
.padding-l0{
    padding-left:0px;
}
.padding-ro{
    padding-right:0px;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.fs-title{

}
.fs-subtitle{
    
}