@font-face {
    font-family: AvenirNext-Regular;
    src: url(./fonts/avenir-next-regular.ttf);
  }
  @font-face {
    font-family: AvenirNext-Bold;
    src: url(./fonts/avenir-next-bold.ttf);
  }
  @font-face {
    font-family: AvenirNext-Italic;
    src: url(./fonts/avenir-next-italic.ttf);
  }
  @font-face {
    font-family: AvenierNext-DemiBold;
    src: url(./fonts/AvenirNext-DemiBoldItalic.ttf);
  }
  @font-face {
      font-family: Avenir-Heavy;
      src: url(./fonts/Avenir-Heavy.ttf);
  }
  @font-face {
      font-family: Avenir-Roman;
      src: url(./fonts/Avenir-Roman.ttf);
  }
  @font-face {
      font-family: Avenir-Medium;
      src: url(./fonts/Avenir-Medium.ttf);
  }
  @font-face {
      font-family: Avenir-Book;
      src: url(./fonts/Avenir-Book.ttf);
  }
  @font-face {
      font-family: Roboto-Regular;
      src: url(./fonts/roboto.regular.ttf);
  }
  @font-face {
      font-family: Roboto-Medium;
      src: url(./fonts/roboto.medium.ttf);
  }
  @font-face {
      font-family: Roboto-Bold;
      src: url(./fonts/roboto.bold.ttf);
  }
  body {
      font-family: Roboto-Regular !important;
      font-size: 14px;
      color: #4A4A4A;
  }
  a, .close-icon, .btn, .docbutton, .deactive-tab, .search-icon, .fa-info-circle, .fa-times, .fa-trash-o, .fa-lg trash-icon {
      cursor: pointer;
  }
  .active {
      border: 2px solid #A51D5E !important;
      background-color: #fff !important;
      color: #A51D5E !important;
  }
  .button-panel .active {
      border: 1px solid #A51D5E !important;
      background-color: #fff !important;
      color: #A51D5E !important;
  }
  .leftdiv {
      background-color: #FFF;
  }
  .rightdiv {
    background-color: #F1F1F1;
    
  }
  .copydiv {
    color: #fff;
    text-align: center;
  }
  .copydiv a, .copydiv a:hover {
    color: #fff;
  }
  footer {
    background-color: #951A5A;
    display: inline-block;
    width: 100%;
    padding: 15px;
    position: fixed;
    bottom: 0;
    z-index: 1111;
    left: 0;
  }
  .padding-r0 {
      padding-right: 0;
  }
  .padding0{padding: 0;}
  .paddinglr0 {
      padding-right: 0;
      padding-left: 0;
  }
  .padding-l0 {
      padding-left: 0;
  }
  .regstep ul {
    /*background-color: #951A5A;*/
    border-radius: 3px;
  }
  .regstep section {
    margin: 10px 0 0px;
    border-radius: 3px;
    display: inline-block;
    padding: 5px 28px;
  }
  .regstep .nav-tabs .nav-link {
    color: #fff;
    font-weight: bold;
  }
  .regstep .nav-tabs > li > a {
    color: #fff;
    border: 0;
    background-color: #951A5A;
  }
  .regstep .nav-tabs > li {
    margin-bottom: 0;
    padding: 10px 10px 10px 50px;
    background-color: #951A5A;
  }
  .nav-tabs {
    border-bottom:none;
  }
  .regstep .nav-tabs .nav-item span {
    border-radius: 15px;
    padding: 2px;
    display: inline-flex;
  }
  .regstep .nav-tabs .nav-item .col-md-10 {
    padding-left: 0;
  }
  .bitdiv {
    padding-bottom: 5px;
  }
  .regstep label {
    color: #AFAFAF
  }
  .text-danger {
    color: #DB2022;
    padding-left: 5px;
  }
  .btn, .btn:hover, .btn:focus {
    border-radius: 4px;
    box-shadow: none;
  }
  .btn-save {
    background-color: #951A5A;
    color:#fff !important;
  }
  .btn-cancel {
      background-color: #9B9B9B;
      color: #fff !important;
  }
  .btn-sec {
    margin-bottom: 10px !important;
  }
  .mat-checkbox-layout, .mat-checkbox-label {
    font-weight: normal !important;
    /*color: #AFAFAF;*/
    color: #4a4a4a;
  }
  .head-icon {
    margin-top: 6px;
    float: left;
    padding-right: 20px;
  }
  .mat-form-field-underline.mat-disabled {
    background-image: linear-gradient(to right,rgba(0,0,0,.42) 0,rgba(0,0,0,.42) 33%,transparent 4px);
    background-size: 7px 1px;
  }
  .mat-button, .mat-raised-button {
    padding: 0 30px !important
  }
  /* New CSS with Material Angular*/
  .listimgdiv .mat-card.mat-card {
      display: inline-block !important;
      padding: 0 !important;
      margin: 5px 0 !important;
      width: 100% !important;
      border: 1px solid #D2D2D2 !important;
      cursor: pointer;
  }
  .mat-card.mat-card {
      display: inline-block !important;
      padding: 0 !important;
      margin: 5px 0 !important;
      width: 100% !important;
      border: 1px solid #D2D2D2 !important;
  }

  .prd-info .mat-card.mat-card{
    border: 0px !important;
  }
  .mat-radio-outer-circle {
      border-width: 1px !important;
      background-color: #fff;
  }
  .mat-card {
      /*margin: 10px 0;*/
      padding: 10px 50px !important;
  }
  mat-card.mat-card {
      box-shadow: none !important;
  }
  .mat-card, .mat-form-field, .mat-select-trigger, .mat-select,
  .mat-option, .mat-button, .mat-fab, .mat-mini-fab, .mat-raised-button, .mat-checkbox {
      font-family: Roboto-Regular;
      font-size: 15px;
  }
  .mat-select { width: 100%;}
  .mat-form-field {
    width: 100%;
  }
  .mat-select-placeholder {
    color: #AFAFAF;
  }
  .mat-form-field-placeholder {
      color: rgba(74,74,74,1);
  }
  .mat-raised-button {
    border-radius: 4px !important;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: #407404;
  }
  .mat-radio-button {
      padding-right: 15px;
  }
  .mat-radio-button label{
      font-weight: normal;
  }
  /***Register step2 */
  .section {
    padding: 20px;
    margin: 10px 0;
  }
  
  .tagselect {
    font-size: 15px;
    color: #000;
    background: #f9f9f9;
    padding: 10px;
  }
  
  .tagselecticon {
    position: absolute;
    top: 10px;
    right: 5px;
  }
  
  .tag-selected {
    float: left;
    margin: 2px;
    padding: 7px 15px;
    background: #dfdfdf;
    border-radius: 20px;
  }
  
  .tag-selected a {
    cursor: pointer;
    font-weight: bold;
    background: #9d9d9d;
    border-radius: 15px;
    padding: 2px;
    display: inline-flex;
    vertical-align: middle;
    margin-left: 5px;
  }
  
  .tag-selected i {
    color: #dfdfdf;
    font-size: 14px;
    font-weight: bold;
    margin-top: -1px;
  }
  
  .tag-selected span {
    vertical-align: middle;
  }
  
  .suggestions {
    z-index: 99999999;
    overflow-y: auto;
    box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    padding: 0;
    background: #fff;
    max-height: 170px;
    width: 100%;
    display: block;
  }
  
  .suggestions li {
    background: #f9f9f9;
    padding: 0px;
  }
  
  .suggestions li a {
    padding: 10px;
    display: block;
  }
  
  .suggestions li:hover {
    background: #dfdfdf;
  }
  .regstep1 a, .regstep2 a {
    text-decoration: none;
  }
  .main-content {
    /*padding: 0 5%;*/
    background: #fff;
    margin-bottom: 50px;
  }
  .mainOutlet{
    /*padding-top: 10px;*/
  }
  .head-content {
    padding: 0;
    margin: 5px 0;
  }
  .cmpnm h2{
    text-transform: uppercase;
  }
  .usrnm a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .tickicon {
    padding-left: 0;
    padding-right: 0;
    width: 10%;
  }
  .tickicon .material-icons {
    font-size: 20px;
  }
  .bitdiv i {
    color: #000;
    font-size: 18px;
    font-family: Roboto-Bold;
  }
  .welusrdiv {
    padding: 25px 0;
  }
  .insurancediv .popover-title {
      padding: 8px 13px 0;
      margin: 0;
      font-size: 16px;
      background-color: #fff;
      border-radius: 2px 2px 0 0;
      border: none;
      font-family: Roboto-Bold;
      color:black;
  }
  .popover{
      border-radius : 2px;
  }
  
  .ProgressBar .popover-title{
      background-color:#fff;
  }
  .companyTitle {
      padding: 3.5px 0 !important;
      border-bottom: none !important;
  }
  
  #mobileview .searchinput {
      width: 100%;
      margin-left: 0px;
  }
  .logo img {
      width: 150px;
  }
  .close-iconpencil {
      cursor: pointer;
  }
  
  .setUpDiv-content ul li a, .setUpDiv-content ul li a:hover {
      color: #A51D5E !important;
      font-weight: bold;
      text-decoration: none;
  }
  /*******Services********/
  .mat-form-field-underline {
      bottom: 1.2em;
  }
  
  /*.mat-radio-ripple, .mat-checkbox-ripple {
      left: 15px !important;
      top: 15px !important;
      right: 15px !important;
      bottom: 15px !important;
  }*/
  
  .timeapp .popover.bottom > .arrow:after {
      border-bottom-color: #f9f8f8;
  }
  
  .popover-title {
      padding: 10px 15px;
      margin: 0;
      font-size: 14px;
      border-bottom: 1px solid #979797;
      font-family: Roboto-Bold;
  }
  
  .popover-content {
      padding: 5px 15px;
  }
  
  .ProgressBar .popover {
      max-width: 492px;
      display: block;
      top: 35px !important;
      left: 2.5px;
      border-radius: 1px;
      font-family: Roboto-Regular;
      font-size: 12px;
      padding: 0px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.50);
  }
  
  .popover-content .nav-item {
      padding: 5px 0;
  }
  .popover-content .fa-check {
      margin-right: 10px;
      color: #417505;
      font-size: 15px;
  }
  .popover-content .nav-link {
      font-size: 14px;
      color: #4A4A4A;
      letter-spacing: 0;
      line-height: 8px;
      padding: 0px 0px;
      display: inline-block;
  }
  .popover-content ul li a:hover {
      background: #fff;
  }
  .select .popover-content {
      padding: 0px;
  }
  /* table */
  .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
      color: #fff;
      background-color: #b32667;
      border-color: #b3266700;
  }
  
  .btn-primary:hover {
      color: #fff;
      background-color: #b32667;
      border-color: #204d7400;
  }
  
  .bootstrap-datetimepicker-widget {
      list-style: none;
      background: white;
      border: 1px solid #cdcaca;
      border-radius: 4px;
      width: 155px;
  }
  
  .btn-primary {
      color: #4a4a4a;
      background-color: #ffffff;
      border: none;
  }
  
  .bootstrap-datetimepicker-widget table td span {
      display: inline-block;
      height: 0px !important;
      line-height: 20px !important;
      width: 50px !important;
      margin: 2px 1.5px;
      cursor: pointer;
      border-radius: 4px;
  }
 
  .bootstrap-datetimepicker-widget table td {
      height: 0px !important;
      line-height: 20px !important;
      width: 20px !important;
      text-align: center;
  }
  
  .bootstrap-datetimepicker-widget a[data-action] {
      padding: 0px !important;
  }
  
  .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
      width: 30px;
      font-size: 14px !important;
      margin: 0 !important;
  }
  
  .btn {
      display: inline-block;
      padding: 0px;
      margin-bottom: 0;
      font-size: 7px;
      border-radius: 4px;
  }
  .timepicker-hours .table-condensed {
      width: 100%;
  }
  .main-calendar-days .is-selected {
      border-radius: 100% !important;
  }
  .cdk-overlay-container {
      position: fixed;
      z-index: 2000;
  }
  
  /**Profile Progress Meter***/
  .mat-slider-horizontal .mat-slider-track-wrapper, .mat-slider-horizontal .mat-slider-track-background, .mat-slider-horizontal .mat-slider-track-fill {
      height: 30px !important;
  }
  .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
      background-color: #58D63A !important;
      cursor: pointer;
  }
  .mat-slider-thumb {
      right: -20px !important;
      bottom: -51px !important;
      width: 75px !important;
      height: 75px !important;
      border: 5px solid #58D63A !important;
      border-radius: 20% !important;
      background: #fff !important;
  }
  .mat-slider-horizontal {
      width: 100% !important;
  }
  .mat-slider-track-background, .cdk-focused .mat-slider-track-background, .mat-slider:hover .mat-slider-track-background {
      background-color: #EDECEA !important;
  }
  .mat-slider-horizontal .mat-slider-wrapper {
      top: 5px !important;
  }
  .mat-slider-track-background, .mat-slider-sliding:not(.mat-slider-disabled) .mat-slider-thumb, .mat-slider-sliding:not(.mat-slider-disabled) .mat-slider-thumb-label, .mat-slider:not(.mat-slider-disabled) .mat-slider-thumb-label:active, .mat-slider:not(.mat-slider-disabled) .mat-slider-thumb:active {
      transform: inherit !important;
  }
  .pure-checkbox input[type="checkbox"] + label {
      padding-left: 0 !important;
      width: 100%;
  }
  
  .pure-checkbox input[type="checkbox"] + label:before {
      right: 0 !important;
      left: auto !important;
  }
  
  .pure-checkbox input[type="checkbox"] + label:after {
      right: 4px !important;
      left: auto !important;
  }
  .custom-class-example {
      color: #ccc;
  }
  
  .custom-class-example .c-token {
      background-color: #e0e0e0 !important;
      color: rgba(0,0,0,.87) !important;
      padding: 0px 5px !important;
  }
  .selected-list .c-list .c-token .fa-remove {
      margin-left: 5px !important;
      font-size: 11px !important;
      background: #9b9b9b;
      color: rgba(255, 255, 255, 0.85) !important;
      padding: 0 2px !important;
      border-radius: 25% !important;
  }
  .custom-class-example .pure-checkbox label::before {
      border-color: #407404 !important;
  }
  
  .custom-class-example .pure-checkbox input[type="checkbox"]:checked + label:before {
      background: #407404 !important;
  }
  .selected-list .c-btn {
      box-shadow: none !important;
      background: transparent !important;
      border: none !important;
      border-bottom: 1px solid #8b8b8b !important;
      border-radius: 0 !important;
      padding: 0 0 1px 0 !important;
      margin-bottom: 15px !important;
  }
  #myimgCropModal .close {
      width: 15px;
      background: none;
  }
  #myimgCropModal .mat-raised-button {
      width: 100px;
  }
  
  /********Alert Box*********/
  .dialog-ovelay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.50);
      z-index: 999999
  }
  
  .dialog-ovelay .dialog {
      width: 400px;
      margin: 100px auto 0;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,.2);
      border-radius: 2px;
      overflow: hidden;
      position: relative;
      top: 25%;
      box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
      display: block;
  }
  
  /*.dialog-ovelay .dialog header {
      padding: 10px 8px;
      background-color: #f6f7f9;
      border-bottom: 1px solid #e5e5e5
  }*/
  .dialog-ovelay .dialog header {
      padding: 25px 25px 0;
      background-color: #fff;
      /*border-bottom: 1px solid #e5e5e5;
      border-top: 4px solid #83003e;*/
  }
  /*.dialog-ovelay .dialog header h3 {
      font-size: 14px;
      margin: 0;
      color: #555;
      display: inline-block
  }*/
  .dialog-ovelay .dialog header h3 {
      font-size: 18px;
      margin: 0;
      color: #83003e;
      display: inline-block;
      font-family: Roboto-Bold;
  }
  .dialog-ovelay .dialog header .fa-close {
      float: right;
      color: #c4c5c7;
      cursor: pointer;
      transition: all .5s ease;
      padding: 0 2px;
      border-radius: 1px
  }
  
  .dialog-ovelay .dialog header .fa-close:hover {
      color: #b9b9b9
  }
  
  .dialog-ovelay .dialog header .fa-close:active {
      box-shadow: 0 0 5px #673AB7;
      color: #a2a2a2
  }
  
  .dialog-ovelay .dialog .dialog-msg {
      padding: 15px 25px;
  }
  
  .dialog-ovelay .dialog .dialog-msg p {
      margin: 0;
      font-size: 14px;
      color: #333
  }
  
  .dialog-ovelay .dialog footer {
      /*border-top: 1px solid #e5e5e5;*/
          padding: 5px 25px 15px;
  }
  
  .dialog-ovelay .dialog footer .controls {
      direction: rtl
  }
  
  .dialog-ovelay .dialog footer .controls .button {
      padding: 5px 25px;
      border-radius: 3px
  }
  .dialog-ovelay .dialog footer .button-default {
      background-color: transparent;
      color: #4a4a4a;
      border: none;
  }
  .dialog-ovelay .dialog footer .button-default:hover {
      background-color: #f6f7f9;
  }
  .button {
      cursor: pointer
  }
  
  .button-default {
      background-color: rgb(248, 248, 248);
      border: 1px solid rgba(204, 204, 204, 0.5);
      color: #5D5D5D;
  }
  .button-danger {
      background-color: #f44336;
      border: 1px solid #d32f2f;
      color: #f5f5f5
  }
  .dialog-ovelay footer {
      background-color: #fff;
      display: inline-block;
      width: 100%;
      padding: 15px;
      position: relative;
  }
  /****************Sub Header CSS****************/
  .subheadblock {
      padding: 15px 15px 6px 15px;
      border-bottom: 1px solid #cdcdcd;
      background: #f7f7f7;
  }
  .mainheading {
      font-size: 18px;
      font-family: Roboto-Bold;
      line-height: 15px;
  }
  .subheading {
      font-family: Roboto-Bold;
      font-size: 22px;
      color: #83003E;
      letter-spacing: 0;
  }
  .subheadname{
      font-family: Roboto-Regular;
      margin-left: 5px;
  }
  .subheadbackbtn, .subheadbackbtn:hover {
      padding: 10px 22px;
      text-decoration: none;
      background: #A51D5E;
      border: 1px solid rgba(151,151,151,0.20);
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
      border-radius: 4px;
      font-family: Roboto-Medium;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.5px;
      line-height: 10px;
  }
  /*.moreservicemenu .More {
      color: #A51D5E;
      font-size: 18px;
      padding: 0px 15px 0px 15px;
      margin: 15px 0 0 0;
      background: #FFFFFF;
      border: 1px solid rgba(151,151,151,0.20);
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.50);
      border-radius: 4px;
  }*/
  .moreservicemenu .More {
      color: #000;
      font-size: 22px;
      margin: 9px 0 0 0;
  }
  /****************Create Service Heading CSS****************/
  .createserviceblock mat-card.mat-card {
      border: 1px solid #ebedf8 !important;
      border-top: 4px solid #a51d5e !important;
      margin: 10px 0 !important;
      background: #FFFFFF;
  }
  .createserviceblock .edit mat-card.mat-card {
      box-shadow: 0 0 5px 0 #A51D5E !important;
      border: 1px solid #ebedf8 !important;
  }
  .createserviceblock .mat-card-header .mat-card-title, .createserviceblock .mat-card-subtitle {
      font-size: 18px;
      color: #83003E;
      font-family: Roboto-Bold;
  }
  .createserviceblock .mat-card-header {
      display: flex;
      flex-direction: row;
      padding: 15px 25px 0px;
      border-bottom: 1px solid #ebedf8 !important;
  }
  .createserviceblock .mat-card-section {
      padding: 20px 25px;
      display: inline-block;
      width: 100%;
  }
  .createserviceblock .mat-card-header-text {
      margin: 0 0px;
  }
  .createserviceblock .close-iconpencil {
      cursor: pointer;
      color: #83003E;
      font-size: 20px;
  }
  .createserviceblock .mainlabel {
      font-family: Roboto-Medium;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0;
      line-height: 20px;
  }
  .createserviceblock .sublabel {
      color: #9b9b9b;
      font-family: Roboto-Bold;
      font-size: 14px;
      /*word-break: break-all;*/
  }
  .createserviceblock .mat-card-actions {
      padding: 10px;
      display: inline-block;
      width: 100%;
      margin: 0;
      background: #84013f;
      text-align: center;
      position: relative;
  }
  .createserviceblock .button-text:hover .mat-button-focus-overlay {
      opacity: 0 !important;
  }
  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
      background: #fefad2;
  }
  .mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
      background: rgba(254, 250, 210, 0.64);
  }
  .mat-card-actions, .mat-card-content {
      margin-bottom: 0px !important;
  }
  .mat-option {
      white-space: normal !important;
      overflow: auto !important;
      text-overflow: inherit !important;
      line-height: 1.5em !important;
  }
  .mySelect mat-select-menu {
      margin-top: 45px;
  }
  i{
      cursor:pointer;
  }
  .button-submit {
      background: #83003E;
      color: #fff;
      border: 1px solid #83003E;
      padding: 5px 25px !important;
  }
  i:hover {
      color: #d80a6c !important;
      pointer-events: auto;
  }
  /***************/
  /* Hide HTML5 Up and Down arrows for input[type="number"] */
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input[type="number"] {
      -moz-appearance: textfield;
  }
  .currency-input {
      text-align: right !important;
      padding-left: 15px !important;
  }
  .input-right {
      text-align: right !important;
  }
  .currency-symb {
      position: absolute;
      /*right: 0;*/
  }
  .right3 {
      margin-right: 3px;
  }
  /**************anchor button********/
  a.button-text:focus, a.button-text:hover {
      border: none !important;
      outline-color: transparent;
  }
  
  /*********model*********/
  .modal-content{
      border-radius: 1px;
      padding: 0;
      margin: 0;
      border: none !important;
  }
  .modal-dialog .createserviceblock mat-card.mat-card {
      margin: 0 !important;
      border: none !important;
      border-top: 5px solid #a51d5e !important;
      border-radius: 0;
  }
  
  /***Radio Button***/
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
      background-color: #4184F3;
  }
  
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: #4184F3;
  }
  .mat-radio-ripple {
      position: absolute;
      height: 0px !important;
      width: 0px !important;
  }
  
  /**search bar****/
  .searchBar {
      padding: 0;
  }
  .searchBar .mat-form-field-infix {
      border: 1px solid #e7e7e7;
      border-radius: 0px;
      padding: 5px;
      font-size: 14px;
      width:130px;
  }
  
  .searchBar .mat-form-field-underline {
      background-color: transparent;
  }
  
  .searchBar .mat-form-field-ripple {
      background-color: transparent;
  }
  
  .searchBar .mat-form-field-label-wrapper {
      display: none
  }
  
  .searchBar formly-field.col-sm-2 {
      padding-left: 0;
      width: auto;
  }
  
  .searchBar .select .mat-form-field-infix {
      padding: 0px;
  }
  
  .searchBar .mat-select-arrow-wrapper {
      border-left: 1px solid #e7e7e7;
  }
  
  .searchBar .select .mat-select-value {
      padding: 5px;
  }
  
  .searchBar .row:after, .searchBar .row:before {
      display: inherit;
  }
  
  .searchBar .fa-search {
      color: #7e7e7e;
      font-size: 15px;
  }
  
  .searchInput .mat-form-field-prefix {
      position: absolute;
      top: 5px;
      left: 10px;
  }
  
  .searchBar .searchInput .mat-form-field-infix {
      border: 1px solid #e7e7e7;
      padding-left: 30px;
  }
  /****************Button CSS****************/
  .button-text, .button-text:hover, .btn-cancel, .btn-cancel:hover {
      color: #fff !important;
      background: transparent;
      text-decoration: none;
  }
  /**********Scheduler ***************/
  .scheduler .time .mat-form-field-infix {
      padding: 3px;
  }
  .leadtimeno .mat-form-field-wrapper {
      padding-bottom: 23px;
  }
  .leadtimeno .mat-form-field-infix {
      padding-top: 10px;
  }
  .ngb-tp-meridian {
      height: 30px;
      padding: 6px 10px;
  }
  .ngb-tp-meridian .btn-outline-primary {
      padding: 5px 10px 22px 10px;
      font-size: 12px;
      color: #4a4a4a;
      background: #fff;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  .ngb-tp-hour .form-control, .ngb-tp-minute .form-control {
      height: 30px;
      padding: 6px 2px;
      font-size: 12px;
  }
  /*************Over Image Upload*************/
  .setMainImgdiv .mat-checkbox-checked.mat-accent .mat-checkbox-background, .setMainImgdiv .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background: #4A90E2 !important;
  }
  .setMainImgdiv .mat-checkbox-label {
      font-family: Roboto-Bold !important;
      font-size: 12px !important;
      color: #fff !important;
      letter-spacing: 0 !important;
  }
  .setMainImgdiv .mat-checkbox-frame {
      border-color: #fff;
  }
  .ngx-editor-textarea {
      padding-bottom: 25px !important;
  }
  /*************Html Editor************/
  button[title="Strikethrough"], button[title="Superscript"], button[title="Subscript"], button[title="Font Family"], button[title="Font Size"],
  button[title="Indent"], button[title="Outdent"], button[title="Cut"], button[title="Copy"], button[title="Delete"], button[title="Clear Formatting"],
  button[title="Undo"], button[title="Redo"], button[title="Paragraph"], button[title="Blockquote"], button[title="Remove Blockquote"], button[title="Insert Image"],
  button[title="Insert Video"], button[title="Unlink"], button[title="Color Picker"] {
      display: none !important;
  }
  .ngx-editor .ngx-editor-button {
      font-size: 14px;
  }
  .CodeMirror {
      height: auto !important;
  }
  .ngx-editor .ngx-toolbar {
      background-color: #83003E !important;
      font-size: 0 !important;
      padding: 6px 5px 6px 5px !important;
      border: 1px solid #ddd !important;
  }
  .ngx-editor .ngx-editor-button {
      padding: 4px 8px !important;
      border: 1px solid #ddd !important;
      border-radius: 0 !important;
      background-color: #fff !important;
  }
  .ngx-editor .ngx-editor-button:hover {
      background-color: #F1F1F1 !important;
  }
  .ngx-toolbar .ngx-toolbar-set .ngx-editor-button:first-child {
      border-radius: 0 !important;
  }
  .ngx-editor-textarea {
      min-height: 125px !important;
  }
  .ql-toolbar.ql-snow .ql-formats {
       margin-right: 0px !important; 
  }
  .cke_toolbar_separator, .cke_button__save, .cke_button__newpage, .cke_button__preview, .cke_button__outdent, .cke_button__indent,
  .cke_button__print, .cke_button__templates, .cke_button__strike, .cke_button__subscript, .cke_button__superscript,
  .cke_button__copyformatting, .cke_button__removeformat, .cke_combo cke_combo__styles cke_combo_off, .cke_combo cke_combo__font cke_combo_off,
  .cke_button__blockquote, .cke_button__creatediv, .cke_button__bidiltr, .cke_button__bidirtl, .cke_button__language, .cke_button__cut,
  .cke_button__copy, .cke_button__paste, .cke_button__pastetext, .cke_button__pastefromword, .cke_button__undo, .cke_button__redo, .cke_button__find, .cke_button__replace, .cke_button__selectall, .cke_button__scayt, .cke_button__form, .cke_button__checkbox, .cke_button__radio,
  .cke_button__textfield, .cke_button__textarea, .cke_button__select, .cke_button__button, .cke_button__imagebutton, .cke_button__hiddenfield,
  .cke_button__image, .cke_button__flash, .cke_button__table, .cke_button__horizontalrule, .cke_button__smiley, .cke_button__specialchar,
  .cke_button__pagebreak, .cke_button__iframe, .cke_combo__styles, .cke_combo__font, .cke_combo__fontsize, .cke_button__maximize, .cke_button__showblocks, .cke_button__about, .cke_button__anchor, .cke_button__unlink,
  #cke_24, #cke_38, #cke_33, .cke_toolbar_break, .cke_button__savebutton {
      display: none !important;
  }
  .cke_inner {
      background: #fff !important;
  }
  .cke_top {
      border-bottom: 1px solid #e7e7e7 !important;
      background: #fff !important;
      padding: 0 !important;
  }
  .cke_wysiwyg_frame body.cke_editable {
      margin: 0 !important;
  }
  .cke_contents {
      min-height: 250px !important;
  }
  /**************Work Order Section******************/
  .mainWOheading {
      font-size: 18px;
      line-height: 15px;
  }
  .clientDiv {
      font-size: 22px;
      color: #4a4a4a;
      font-family: Roboto-Bold;
  }
  .statusbtn {
      background-color: #417505;
      color: #fff;
      text-align: center;
      padding: 2px 0;
      border-radius: 4px;
      width: 70px;
      text-transform: uppercase;
      font-size: 12px;
  }
  .accnodiv {
      font-size: 16px;
      font-family: Roboto-Bold;
      color: #4a4a4a;
  }
  .divider {
      border-left: 1px solid #cdcdcd;
      margin-left: 18px;
      margin-right: 10px;
  }
  .WOhead {
      font-family: Roboto-Bold;
      color: #4a4a4a;
  }
  .morediv {
      color: #83003E;
      text-transform: uppercase;
      font-family: Roboto-Bold;
  }
  .WOsubheadDiv .close-iconpencil {
      color: #83003E;
      margin-left: 20px;
  }
  .WOsubheading {
      color: #83003E;
      font-family: Roboto-Bold;
      font-size: 16px;
  }
  .WOmoremenu .fa-ellipsis-h {
      color: #83003E;
      font-size: 18px;
  }
  .workorder-block .mat-expansion-indicator::after {
      border-width: 0 4px 4px 0 !important;
      padding: 5px !important;
      color: #7f7f7f;
      vertical-align: baseline;
  }
  .workorder-Lblock .mat-expansion-panel-body {
      margin-bottom: 30px;
      padding: 0 15px 16px;
  }
  .btn-back, .btn-back:hover {
      color: #83003E;
      border: 1px solid #83003E;
      text-decoration: none;
      padding: 10px 50px;
      border-radius: 4px;
  }
  .btn-next {
      color: #fff !important;
      background: #83003E;
      padding: 2px 50px !important;
      text-decoration: none;
      border-radius: 4px !important;
  }
  .workorder-Rblock .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background: #4a90e2 !important;
  }
  /*.attributeSelection .mat-select-placeholder, .attributeSelection .mat-form-field-placeholder {
      color: #83003E !important;
      font-family: Roboto-Bold !important;
      font-size: 18px !important;
  }*/
  .workorder-block .answerSection .mat-radio-label {
      align-items: initial !important;
      white-space: normal !important;
  }
  .attributeSection .mat-select-value-text {
      font-size: 18px !important;
      color: #4a4a4a !important;
  }
  .createWOauto{
      left: -15px;
      top: 20px;
      width: 348px;
  }
  /**************ToolTip**************/
  .mat-tooltip {
      /* your own custom styles here */
      /* e.g. */
      font-size: 12px !important;
      background: #666 !important;
      /*opacity: 1 !important;*/
      border-radius: 5px !important;
  }
  /****************/
  .workorder-block {
      padding: 20px 30px;
  }
  .workorder-Lblock, .workorder-Rblock {
      border: 1px solid #cdcdcd;
      padding: 10px 15px 0 15px;
  }
  .custheadDiv {
      font-family: Roboto-Bold;
      font-size: 22px;
      color: #83003E;
      letter-spacing: 0;
      padding: 10px 0 20px 0;
  }
  .workorder-block hr {
      clear: both;
      margin: 0 -15px;
      border-top: 1px solid #cdcdcd;
  }
  /********New Layout CSS*********/
  .newsidenavpanel .mat-expansion-indicator::after {
      color: #fff !important;
  }
  .newsidenavpanel .mat-expansion-panel-body {
      background: #4F5253;
      padding: 10px 15px;
  }
  .newsidenavpanel .mat-expansion-panel-header, .newsidenavpanel .mat-expansion-panel-header.mat-expanded:focus, .newsidenavpanel .mat-expansion-panel-header.mat-expanded:hover,
  .newsidenavpanel .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .newsidenavpanel .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .newsidenavpanel .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
      background: #000 !important;
      /*height: 35px !important;*/
      padding: 0 15px;
  }
  .mat-sidenav-fixed {
      margin-bottom: 40px !important;
  }
  .componentHead {
      background: #F7F7F7;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.30);
      padding: 20px 25px;
  }
  .componentDiv {
      background: #fff;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.30);
      padding: 20px 25px;
  }
  .filtercheckbox, .filtercheckbox .mat-checkbox-layout {
      padding-left: 0 !important;
  }
  .ngx-gallery-preview-icons .ngx-gallery-icon {
      margin-right: 20px !important;
      margin-top: 15px !important;
  }
  .service-cards .mat-card-image {
      width: 100%;
      margin: 0px;
  }
  
      .service-cards .mat-card-image:first-child {
          margin-top: 0px;
      }
  
  .service-cards mat-card.mat-card:hover {
      -webkit-box-shadow: 0 0 25px #ced0d1 !important;
      box-shadow: 0 0 25px #ced0d1 !important;
      border: 1px solid #ced0d1 !important;
  }
  
  .formly-search .mat-input-element {
      max-width: 94%;
  }
  
  
  /**Newly added*/
  .searchBar .searchInput .mat-form-field-prefix {
      position: absolute;
      top: 15px;
      left: 10px;
  }
  
  .searchBar .mat-form-field-infix {
      border: 1px solid #e7e7e7;
      /* border-radius: 5px; */
      padding: 15px;
      font-size: 14px;
      width: 130px;
  }
  
  .common-margin {
      margin-right: 3%;
  }
  
  .column-serviceStatus, .column-clientCount, .column-serviceId, .column-createdDate, .column-modifiedDate, .column-action, .column-isCoreService {
      text-align: center;
  }
  
  .servicelist.table > tbody > tr > td {
  }
  
  .button-panel .column-selector-button {
      font-size: 18px;
      padding: 4px 0px;
      width: 32px;
      height: 32px;
  }
  
  td popover-content .popover-content {
      padding: 0px;
  }
  
  .action-popup popover-container {
      display: none;
  }
  /******Checkbox Css for attribute******/ 
  app-attributes .enableAttr .mat-checkbox-inner-container {
      background: #9b9b9b;
      border-radius: 100%;
      height: 28px;
      width: 28px;
  }
  
  app-attributes .enableAttr .mat-checkbox-frame {
      border-radius: 100%;
      border-width: 1px;
  }
  
  app-attributes .enableAttr .mat-checkbox-checkmark {
      top: 4px;
      left: 4px;
      width: 75%;
  }
  
  app-attributes .enableAttr.mat-checkbox-checked.mat-accent .mat-checkbox-background, app-attributes .enableAttr.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      border-radius: 100%;
  }
  
  a {
      font-size: 14px;
      color: rgb(0, 116, 131);
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  #MainMenu a:hover, #MainMenu a:focus {
      color: #d80a6c !important;
      text-decoration: none;
  }
  
  a.disabled, i.disabled, .disabled .close-iconpencil, a.disabled:hover, i.disabled:hover, .disabled .close-iconpencil:hover {
      pointer-events: none;
      cursor: default !important;
      color: #9B9B9B !important;
  }
  .mainImage .mat-checkbox-layout .mat-checkbox-label {
      font-family: Roboto-Bold !important;
  }
  .dradPlaceholder {
      border: 1px solid #ebedf8 !important;
      background-color: #f7f7f7 !important;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.30);
      display: inline-block;
      width: 100%;
      height: 100px !important;
      padding: 20px 15px !important;
      margin: 20px 0;
  }
  .imglist {
      background-size: contain;
      border-radius: 4px 4px 0px 0px;
      background-repeat: no-repeat;
      background-position: top;
  }
  .mat-button[disabled], .mat-flat-button[disabled], .mat-icon-button[disabled], .mat-stroked-button[disabled] {
      cursor: default;
      color: grey !important;
  }
  .image-thumbnail{
      border:0px !important;
  }
  .thumb .mat-card.mat-card{
      display:block !important;
      margin:0px !important;
  }
  .register .mat-card.mat-card{
    margin:0px !important;
    border-radius: 0px !important;
    }
  /****************Media Queries CSS****************/
  @media (max-width: 1024px) {
      .client-LSection, .headsection{
          width: 100%;
          padding-bottom: 15px;
      }
      .client-RSection, .postcodesection {
          width: 100%;
          padding: 0 15px;
      }
      /*.workorder-lmaindiv {
          width: 100%;
          padding: 0;
      }
      .workorder-Lblock {
          width: 100%;
          margin-bottom: 15px;
      }*/
      .listimgdiv, .addserdiv {
          width: 33.33%;
      }
  }
  @media (max-width: 991px) {
      .moreservicemenu {
          margin-bottom: 10px;
      }
  }
  @media (max-width: 815px) {
    .regstep .nav-tabs > li {
      padding: 10px 10px 10px 30px;
    }
    .mat-card {
      padding: 24px 30px !important;
    }
  }
  @media (max-width: 768px) {
    .copr8div, .ftrtlinkdiv {
      text-align: center;
      padding: 0;
    }
    .cmpnm {
      text-align: right;
    }
    .regstep2 {
      display: none;
    }
    .regstep1 {
      width: 100%;
    }
    .regstep .nav-tabs > li {
      padding: 10px 10px 10px 20px;
    }
    .steparrow {
      left: 23%;
    }
    .mat-card {
      padding: 24px 20px !important;
    }
    .accnodiv{
        padding-top: 15px;
    }
    .divider{
        display: none;
    }
    .searchdiv .fa-search {
        right: 7% !important;
    }
    footer {
      position: relative;
    }
    .table-responsive{border:none;}
    /**New layout in Tab/Mobile*/
    .createserviceblock{
        margin-bottom: 0% !important;
    }
    .main-content {
      margin-bottom: 20px;
    }
    .mat-toolbar-row, .mat-toolbar-single-row{
        display: inline-block !important;
    }
    .mat-icon-button{
        float: left;
    }
    .logo{
      text-align: center;
      margin: 10px 0;
    }
    header{
      padding: 0 !important;
    }
    .topheader .searchbardiv .fa-search, .topheader .searchbardiv .fa-times{
      left: 12px !important;
      top: 24% !important;
    }
    .notifydiv .fa-clock, .notifydiv .fa-comment {
      padding-top: 10px;
     }
    .notifydiv .fa-shopping-cart {
      padding-top: 5px;
     }
    .workorder-lmaindiv {
      padding: 0;
    }
    .workorder-Lblock {
      margin-bottom: 15px;
    }
    .listimgdiv, .addserdiv {
      width: 50%;
    }
  }
  @media (max-width: 600px) {
    .logodiv, .cmpnm, .usrnm {
      width: 100%;
      text-align: center;
    }
    .copyr8, .phnnodiv, .maildiv {
      padding: 0;
      text-align: center;
    }
    .cmpnm h2{
      margin-top: 10px;
    }
    .welusrdiv {
       padding: 0;
    }
    .dialog-ovelay .dialog {width:70%;}
  }
  @media (max-width: 550px) {
      .addserdiv {
          width: 100%;
      }
  }
  @media (max-width: 450px) {
      .servicelistdiv .searchbardiv, .servicelistdiv .resetsearch {
          width: 100%;
      }
      .resetsearch {
          padding-top: 18px !important;
      }
  }
  @media (max-width: 400px) {
      .copyr8, .phnnodiv, .maildiv{
          width: 100%;
      }
      .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
          width: 100%;
      }
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
          width: 100%;
      }
      .companyTitle, .borderProfile, .toplogoheader {
          position: relative;
      }
      .CompanyComponent2 {
          position: absolute;
          top: 0;
          right: 0;
      }
      .notifydiv {
          right: 22px;
      }
      .welcomediv .col-xs-3, .welcomediv .col-xs-9 {
          width: auto !important;
      }
      .toplogoheader .col-xs-1 {
          z-index: 11;
      }
      .fontstyleMidSec {
          width: 70% !important;
      }
      .radbtn {
          padding-bottom: 10px;
      }
      .mat-radio-button {
          padding-right: 30px;
      }
      .companytitle, .banktitle, .common-font, .areatitle, .techtitle, .compliancetitle {
          padding-right: 62px;
      }
      .insurancediv .CompanyComponent2 {
          display: inline-block;
          width: auto;
      }
      .createserviceblock .mainlabel {
          padding: 0;
          margin-bottom: 15px;
      }
      .statusbtn {
          width: 25%;
      }
      .rolename {
          width: 30%;
      }
      .WOheadDiv {
          width: 80%;
          padding-right: 0;
      }
      .WOmoremenu {
          width: 20%;
          padding-right: 0;
      }
      .searchdiv .fa-search {
          right: 10% !important;
      }
      .notifydiv .col-xs-4 {
          width: 33.33333333% !important;
      }
      .subheadblock {
          padding-bottom: 20px;
      }
  }
  @media (max-width: 362px) {
    .regstep .nav-tabs > li {
      padding: 10px 10px 10px 10px;
    }
  }
  @media (max-width: 334px) {
    .regstep .nav-tabs > li {
      padding: 10px 5px 10px 10px;
    }
  }
  

  .string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }