<div class="col-md-12 col-sm-12 col-xs-12 padding0">
 <nav aria-label="Page navigation example">
   <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let page of pages;let i = index;" class="page-item" (click)="setPage(page)" [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link">{{page}}</a>
     </li>
     <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
     </li>
   </ul>
 </nav>
</div>
