.counter button{
    width:100% !important;
    height:34px !important;
}

.counter button,input{
    border-radius: 0px !important;
}
.disabled{
    pointer-events: none;
    cursor: none !important;
    opacity: 0.7 !important;
}